[submodule "intellij-community"]
	path = intellij-community
	url = https://github.com/JetBrains/intellij-community.git
[submodule "kotlin-src"]
	path = kotlin-src
	url = https://github.com/JetBrains/kotlin.git
